<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title> videoclub-cancun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
   <ion-list>
    <h1>BATMAN VS SUPERMAN</h1>
 <ion-item>
  <ion-button color="primary" expand="full" routerLink="/paginadetallepelicula"><ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail></ion-button>
 <ion-label>Director: ZACK SNYDER<ion-label>Año: 2016.</ion-label></ion-label> 
</ion-item>
</ion-list>

 <ion-list>
  <h1>TOP GUM</h1>
<ion-item>
  <ion-button color="primary" expand="full" routerLink="/paginadetallepelicula"><ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail></ion-button>
<ion-label>Director: JOSEPH KOSINSKI<ion-label>Año: 2021.</ion-label></ion-label>
</ion-item>
</ion-list>

 <ion-list>
  <h1>SPIDERMAN</h1>
<ion-item>
  <ion-button color="primary" expand="full" routerLink="/paginadetallepelicula"><ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail></ion-button>
<ion-label>Director: JON WHATS.<ion-label>Año: 2019.</ion-label></ion-label>
</ion-item>
</ion-list>

</ion-content>