<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
<ion-title color="dark">CURRICULUM VITAE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <h1>2021-ACTUALIDAD:</h1>
  <ion-item>
<ion-label>Materia impartida por el ingeniero jesus jomeni
    </ion-label>
  </ion-item>
  <h1>2015-ACTUALIDAD:</h1>
  <ion-item>
    <ion-label>Profesor del master universitario en desarrollo de aplicaciones y servicios web.</ion-label>
  </ion-item>
  <h1>2008-2017:</h1>
  <ion-item>
    <ion-label>instituto tecnologico de cancun quintana.roo.</ion-label>
  </ion-item>
 </ion-list>
</ion-content>
