<ion-header>
  <ion-toolbar Color="success">

  <ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <h1>detalle de la pelicula</h1>
  </ion-toolbar>
  </ion-header>
  
  
    <ion-content fullscreen>
    <ion-card>
  
    <ion-card-header>

  <ion-img src="C:\Users\jose_\videoclubedson\src\batman.jpg"></ion-img>
    <ion-card-subtitle>Detalles de la pelicula que desea ver.</ion-card-subtitle>
    <ion-card-title>Pelicula detallada.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Batman se enfrenta a Superman, temeroso de que su afán de poder termine nublando su lucha contra la injusticia y lo convierta en un villano. Mientras los héroes pelean, una amenaza terrible se cierne sobre la humanidad.
    </ion-card-content>
    </ion-card>
    </ion-content>