<ion-header [translucent]="true">
  <ion-toolbar color="success">
    
    <ion-title>
      INICIO.
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<h1>BIENVENIDO A:</h1>
<h1>¡VIDEOCLUB-CANCUN!</h1>
<h1>¡Videoclub es una aplicacion
  desarrollada con ionic.
  para acceder a la gestion del video club
  pulsa el siguiente botón que se muestra:
</h1>


<ion-button color="warning" medium="full" routerLink="/videoclub">Acceso al videoclub-cancun</ion-button>

<h1>INFORMACION SOBRE EL AUTOR</h1>
<h1>Aplicacion desarrollada por: Edson Aldair Hernnadez Juarez</h1>
<ion-button color="warning" medium="full" routerLink="/autor">consultar informacion</ion-button>
</ion-content>